In [1]:
import pandas as pd

In [2]:
data={ 'Name':['sohel','mona','dola'],
      'Age':[23,25,26],
      'Marks':[89,70,67]
      }
Dt=pd.DataFrame(data)
Dt

    Name  Age  Marks
0  sohel   23     89
1   mona   25     70
2   dola   26     67

In [ ]:
import statistics as st
DF = pd.read_csv('data.csv')
DF
values=DF["Values"].tolist()
print("Median:",st.median(values))
print("Mode: ",st.mode(values))

   Values
0      10
1      12
2      15
3      18
4      20
5      22
6      22
7      25
8      30
9      35

In [4]:
values=Dt["Values"].tolist()
print("Median:",st.median(values))
print("Mode: ",st.mode(values))

KeyError: 'Values'